body {
  background-color: #f4f1f1;
}

.main-container {
  width: 990px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
}

.line-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  padding-right: 200px;

  .hexagon-wrapper{
    padding-right: 15px;
    opacity: 0.6;
  }
}

.img-column {
  position: absolute;
  margin-left: 20px;

  div {
    margin-bottom: 15px;
  }

  img {
    margin-right: 20px;
    height: 49px;
  }
}

.img-column-2 {
  position: absolute;
  top: 80px; 
  margin-left: 20px;

  div {
    margin-bottom: 15px;
  }

  img {
    margin-right: 20px;
    height: 49px;
  }
}

.work-sheet-item {

  .reflection {

    th {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    th:nth-child(odd) {
      width: 3%;
    }

    td {
      border-bottom: none;
    }

    td:nth-child(2) {
      font-weight: 800;
    }

    h1 {
      color: #283593;
      font-size: 1.5em;
      padding-bottom: 5px;
      display: flex;
      align-items: center;

      img {
        margin-right: 20px;
      }
    }

    i {
      color: #283593;
      font-size: 1.3em;
    }

    p {
      border-bottom-width: 1px;
    }
  }

  .wrapper-item {

    div:first-child {
      p {
        font-size: 19px;
        font-weight: 600;
        color: #484848;
      }

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    div:last-child{

      h3 {
        color: #283593;
        font-size: 14px;
        border-bottom: 2px solid #cccccc;
        padding-bottom: 5px;
        margin: 30px 0px 5px;
      }

      p {
        font-size: 15px;
        color: #767676;
        font-weight: 400;
      }
    } 
  }

  p.title-two-lines {
    font-size: 19px;
    font-weight: 600;
    color: #484848;
  }

  h4 {
    font-size: 15px;
    color: #767676;
    font-weight: 400;
  }

  img.img-style {
    width: 100%;
    z-index: 0;
  }

  .txt-margin {
    margin-top: 40px;
  }

  .wrapper-meds {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    div:first-child {
      flex-basis: 7%;
    }

    div:last-child {

      h3 {
        font-size: 14px;
        color: #484848;
        margin-top: 5;
        margin: 0px;
      }

      p {
        font-size: 15px;
        color: #767676;
        font-weight: 400;
        margin: 0px;
      }
    }

    .wrapper-video {
      padding-right: 20px;
    }
  }

  .percentage {
    display: flex;
    flex-direction: row;
    align-items: center;

    div:first-child {
      flex-basis: 10%;
    }

    div:last-child {
      flex-basis: 90%;
    }
  }

  .table-border {
    th {
      border-right: none;
    }

    td {
      border: none;
    }
  }
}

.progress-bar {
  width: 100%;
  height: 14px;
  border: 0px solid grey;
  border-radius: 4px;
  background-color: #D0D8DB;
  box-shadow: inset 0px 1px 2px 0px #9EA4A8;
  position: relative;
  overflow: hidden;

  .progress {
    left: 0;
    top: 0;
    bottom: 0;
    background: #5C6AC3;
    position: absolute;
    margin-top: 0;
  }
}

.paragraph-style {
  
  font-size: 15px;
  font-weight: 100;

  span {
    font-style: italic;
  }
}

.img-discover {
  border: 3px solid #E3E4E5;
  margin-top: 25px;
  padding: 7px;
  border-radius: 4px;
  width: 98%;
}

.grey-square {
  position: relative;
  background-color: #ECF0F3;
  color: #5D686F;
  width: calc(100% - 20px);
  padding: 1px 0 10px 20px;
  margin-top: 30px;
  z-index: 1;
  font-size: 15px;

  h3 {
    color: #E3437B;
    font-size: 15px;
    margin-bottom: -15px;
  }
  .title-margin {
    margin-bottom: 0px;
  }
}

.div-border {
  height: 1px;
  border: 0;
  background-color: #7A909D;
  margin: 20px 0px 10px;
}

.rectangle-style {
  display: flex;
  margin-top: 30px;
  width: 100%;
  align-items: center;
  color: #FFF;
  font-size: 19px;
  font-weight: 700;
  height: 50px;
  position: relative;

  .bar-txt {
    padding-left: 15px;
    flex-basis: 96%;
    font-weight: 400;
  }

  .toggle-info {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.bar-blue {
  background-color: #44B5FB;
}

.bar-pink {
  background-color: #E3437B;
}

.bar-green {
  background-color: #84B331;
}

.bar-yellow {
  background-color: #F9A101;
  margin-bottom: 30px;
}

.bar-navi-blue {
  background-color: #4557BD;
  margin-bottom: 30px;
}

.txt-basis {
  padding-left: 15px;
  flex-basis: 92%;
}

.bar-grey {
  background-color: #586E7B;
  height: 80px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #000;
  box-sizing: border-box;

  div:first-child {
    border-right: 1px solid #3D4C55;
    margin-right: 10px;

    i {
      font-size: 1.5em;
      padding-top: 25px;
      padding-left: 25px;
    }
  }

  .grey-basis {
    flex: 1;
    font-weight: 400;
    font-size: .8em;
  }

  .box-config {
    height: 80px;
    flex-basis: 70px;
  }
}

.red-rectangle {
  display: flex;
  align-items: center;
  background-color: #EB452F;
  color: #FFF;
  font-size: 19px;
  font-weight: 700;
  margin-top: -5px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  div:first-child {
    border-right: 1px solid #DD3D2F;
    margin-right: 10px;

    i {
      font-size: 1.5em;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
  
  .box-config {
    height: 70px;
    flex-basis: 5%;
  }
}

.h3-title {
  color: #283593;

  span {
    color: #2776D9;
  }
}

.img-relative {
  position: relative;
}

.img-absolute {
  position: absolute;
  top: 27px;
  transform: translateX(-100%);
  border: 3px solid white;
  border-radius: 50%;
}

.eye-hexagon {
  position: absolute;
  right: 20px;
  bottom: -40px;
}

.video-config {
  background-color: black;

  .video-position {
    transform: translateX(12.5%);
  }

  iframe {
    border: none;
  }
}

.stars-row {
  h1 {
    font-size: 1.25em;
    color: #394750;
    font-weight: 400;
    margin-top: 0;
  }

  img {
    margin-right: 20px;
  }
}


table.table-valuations {
  border-collapse: collapse;
  font-size: 0.9em;
  border: 0;
  color: #3c474b;

  th {
    color: #283593;
    padding: 22px 15px 13px;
    border-right: 2px solid #d6d4d4;
    border-bottom: 2px solid #d6d4d4;
    width: 20%;
    border: 1px solid #b1bec6;
    border-top: 0;    

    &:last-child {
      border-right: none;
      width: 13%;
    }

    &:first-child {
      width: 87%;
      border-left: none;
    }
  }

  .textLeft {
    text-align: left;
  }

  thead {
    tr {
      background-color: #ebeff2;
    }
  }

  td {
    padding: 15px;
    border-bottom: 1px solid #b1bec6;
    border-right: 1px solid #b1bec6;
    vertical-align: top;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: none;
      text-align: center;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: #ebeff2;
    }
  }

  .iconI {
    font-size: 1.5em;
    margin-left: 50px;
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  h4 {
  color: #283593;
  margin-left: 30px;
  margin-top: 40px;
  }
}



table.table-calendar {
  border-collapse: collapse;
  font-size: 0.9em;
  border: 0;
  color: #3c474b;

  th {
    color: #283593;
    padding: 15px 15px 10px;
    border-right: 1px solid #b1bec6;
    border-bottom: 1px solid #b1bec6;
    width: 20%;
    border-top: 0;

    &:last-child {
      border-right: none;
      width: 10%;
    }

    &:first-child {
      width: 10%;
      border-left: none;
    }
  }

  thead {
    tr {
      background-color: #ebeff2;
    }
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
  }

  td {
    padding: 15px;
    border-right: 2px solid #d6d4d4;
    border: 1px solid #b1bec6;
    vertical-align: top;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: none;
      text-align: center;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: #ebeff2;
    }
  }

  .title {
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  a {
    color: #48b3fb;
  }

  .meds-set {
    display: flex;

    & > div {

      & + div {
        margin-left: 15px;
      }
    }

    & + .meds-set {
      margin-top: 20px;
    }

  }
}

.meds-set + .meds-set {
  margin-top: 20px;
}

h3.calendario {
  color: #283593;
  border-bottom: 1px solid #283593;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

$blue: #283593;
.student-main-activity {
  border-bottom: 2px solid $blue;
  margin-bottom: 47px;
  margin-top: 20px;
  padding-bottom: 15px;

  p {
    color: #37474f;
    font-size: 0.9em;
  }

  h2 {
    margin-top: 0;
    color: #263238;
    font-size: 1.3em;
  }

  h3 {
    color: $blue;
    font-size: 1em;
  }

  h4 {
    color: #263238;
    margin-bottom: 0;

    & + p {
      margin-top: 0;
    }
  }

  a {
    color: #21cf89;
  }

  .badge {
    margin-top: 10px;
  }

  .activity-description {
    padding-left: 16px;
  }
}

.text-right {
  text-align: right;
}

.med-eye {
  a {
    color: #000!important;
    font-size: 18px;
  }
}

.add-med {
  color: #b40701;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.table-med-rel {
  border-collapse: collapse;
  font-size: 0.9em;
  border: 0;
  color: #3c474b;

  thead {

    tr {
      background-color: #ebeff2;
      color: #283593;

      th {
        padding: 25px 35px 25px 35px;
        border-bottom: 1px solid #b1bec6;
        border-right: none;
      }

    }
  }
  
  tbody {

    td {
      padding: 15px;
      padding-right: 80px;
    }

    td:nth-child(3), td:nth-child(4) {
      text-align: center;
      padding-right: 15px;
    } 

    .title {
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #ebeff2;
      }
    }

    .img-relative {
      margin-top: 15px;
    }

    .meds-set {
      display: flex;

        & > div {

          & + div {
            margin-left: 15px;
          }
        }

        & + .meds-set {
          margin-top: 20px;
        }

      }

    .meds-set + .meds-set {
      margin-top: 20px;
    }

  }
   
}

.table-rea-rel {
  border-collapse: collapse;
  font-size: 16px;
  border: 0;
  color: #3c474b;

  thead {

    tr {
      background-color: #ebeff2;
      color: #283593;

      th {
        padding: 25px 35px 25px 35px;
        border-bottom: 1px solid #b1bec6;
        border-right: none;
      }

      th:nth-child(2) {
        width: 40%;
      }
    }
  }
  
  tbody {
    td {
      padding: 15px;
      padding-bottom: 25px;
      vertical-align: top;
    }

    td:nth-child(3) {
      text-align: center;
    }

    td:nth-child(1) {
      font-weight: bold;
      width: 70%;
    }

    td:nth-child(2) {
      padding-left: 50px;
      font-size: 14px;
      line-height: 10px;

      span {
        margin-right: 15px;
      }

      .correct {
        font-weight: bold;
      }
    } 

    .title {
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #ebeff2;
      }
    }
  }  
}

.table-pla-rel {
  border-collapse: collapse;
  font-size: 0.9em;
  border: 0;
  color: #3c474b;

  thead {

    tr {
      background-color: #ebeff2;
      color: #283593;

      th {
        padding: 25px 35px 25px 35px;
        border-bottom: 1px solid #b1bec6;
        border-right: none;
      }

    }
  }

  tr {
      &:nth-child(even) {
        background-color: #ebeff2;
      }
    }

  tbody {

    td {
      padding: 15px;
    }

    td:nth-child(1), td:nth-child(4) {
      text-align: center;
      font-weight: bold;
      width: 10%;
    }
  }
}  
